body {
    display: flex;
    height: 200vh;
    width: auto;
    justify-content: center;

}

h2 {
    margin-left: 2%;
}

p {
    margin: 0 0 0 12%;
}

.barre {
    margin: 10px 0 10px 0;
}

/* principaux conteneur */
.container {
    display: flex;
    height: 200vh;
    width: 80vw;
    background-color: #63BFA1;
}

.column1 {
    display: flex;
    height: 200vh;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.column2 {
    display: flex;
    height: 200vh;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

/* contenus de la colonne 1 */
.info {
    display: flex;
    height: 20%;
    width: 95%;
    border: 1px solid black;
    background-color: #45856F;
    margin-top: 3%;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

/* block du profil */
.profil {
    display: flex;
    height: 65%;
    width: 35%;
    align-self: center;
}

/* block des compettences */
.competences {
    display: flex;
    flex-direction: column;

    height: 76%;
    width: 95%;
    border: 1px solid black;
    background-color: #45856F;
    margin-bottom: 3%;

    justify-content: space-around;
}

.pourcent1 {
    height: 20px;
    width: 20%;
    background-color: chartreuse;
}

.pourcent2 {
    height: 20px;
    width: 40%;
    background-color: chartreuse;
}

.pourcent3 {
    height: 20px;
    width: 60%;
    background-color: chartreuse;
}

.pourcent4 {
    height: 20px;
    width: 80%;
    background-color: chartreuse;
}

.pourcent5 {
    height: 20px;
    width: 100%;
    background-color: chartreuse;
}

/* partie OS */
.OS {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.windows {
    height: 20px;
    width: 99%;
    border: 1px solid black;
}

.linux {
    height: 20px;
    width: 99%;
    border: 1px solid black;
}

.macOS {
    height: 20px;
    width: 99%;
    border: 1px solid black;
}

/* partie langages de programmation */
.c {
    height: 20px;
    width: 50%;
    background-color: #41D65E;
}

.html {
    height: 20px;
    width: 50%;
    background-color: #41D65E;
}

.css {
    height: 20px;
    width: 50%;
    background-color: #41D65E;
}

.js {
    height: 20px;
    width: 5%;
    background-color: #41D65E;
}

.php {
    height: 20px;
    width: 5%;
    background-color: #41D65E;
}

/* partie logiciels */
.VScode {
    height: 20px;
    width: 50%;
    background-color: #41D65E;
}

.vim {
    height: 20px;
    width: 50%;
    background-color: #41D65E;
}

.adobe_xd {
    height: 20px;
    width: 50%;
    background-color: #41D65E;
}

/* contenus de la colonne 2 */
.titre {
    display: flex;
    height: 3%;
    width: 95%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #45856F;
    margin-top: 2%;
}

.presentation {
    height: 20%;
    width: 95%;
    border: 1px solid black;
    background-color: #45856F;
}

.formation-diplomes {
    height: 30%;
    width: 95%;
    border: 1px solid black;
    background-color: #45856F;
}

.centre-interets {
    height: 30%;
    width: 95%;
    border: 1px solid black;
    background-color: #45856F;
}

footer {
    height: 5%;
    width: 95%;
    border: 1px solid black;
    background-color: #45856F;
    display: flex;
    margin-bottom: 2%;
    align-items: center;
    justify-content: flex-start;

}

/* contenus du footer */
.icone {

    height: 80%;
    width: 10%;
    margin-left: 5%;
}

.github {
    height: 100%;
    width: 120%;
}

.linkedin {
    height: 100%;
    width: 100%;
}

.mail {
    height: 100%;
    width: 100%;
}