/* configuaration pour un ecrant de smartphone */

.cont {

    display: grid;
    padding: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr 1fr 1fr 1fr 1fr 20%;

    row-gap: 10px;

    grid-template-areas: "head"
        "nav"
        "pres"
        "diplomes"
        "competances"
        "interets"
        "portfolio"
        "footer"
    ;
}

/* config pour les ecrants d'une largeur > a 500px */
@media (min-width: 500px) {
    .cont {

        display: grid;
        padding: 0px;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        row-gap: 15px;

        grid-template-areas: "head head"
            "nav nav"
            "pres pres"
            "diplomes diplomes"
            "competances competances"
            "interets interets"
            "portfolio portfolio"
            "footer footer"
        ;

    }
    
}

header {
    grid-area: head;
}

nav {
    grid-area: nav;
}

.presentation {
    grid-area: pres;
}

#diplomes {
    grid-area: diplomes;
}

#compétances {
    grid-area: competances;
}

.interets {
    grid-area: interets;
}

.portfolio {
    grid-area: portfolio;
}

footer {
    grid-area: footer;
}