body{
    height: 100vh;
    width: auto;


}

/* HAUT DE PAGE */
header{
    display: flex;

    width: auto;
    border: solid 1px black;
    border-radius: 7px;

    flex-direction: row;
    justify-content: space-between;
}

h2{
    display: flex;
    align-self: flex-end;
}

.photo{
    display: flex;
    align-self: center;
}

ul{
    display: flex;
    flex-direction: column;
    align-self: center;
}

/*PRESENTATION*/
.presentation{

}